

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#message-btn-fermer {
    margin-bottom: 30px;
}

#boutonReset {
    margin-bottom: 10px;
}

#plateau {
    margin-bottom: 50px;
}
















